<!DOCTYPE html>
    <html>
        <head>
            <title>Trips to Australia</title>
            <link rel="stylesheet" href="static/USA.css" type="text/css" />
        </head>
        <body>
            <div class = "Header">
                    <h1>Trips to Australia</h1>
            </div>
            <div class = "grid-container">
                
                <div class = "locations">
                    <a href = "">
                        <h2 class = "CountryName">Snorkeling the Great 
                        <br>
                        Barrier Reef</h2>
                        <img src = "https://www.ozexperience.com/media/104100/diving-the-great-barrier-reef-and-beyond-tile.jpg?anchor=center&mode=crop&width=710&height=710&rnd=131328549340000000" id = "gbreef" >
                        <br>
                    </a>
                </div>
                <div class = "locations">
                    <a href = "">
                        <h2 class = "CountryName">Exploring the 
                        <br>
                        Outback</h2>
                        <img src = "https://media.gq.com/photos/5b991a2b3ef4233944b15bae/1:1/w_1296,h_1296,c_limit/gq-travel-guide-australia-outback-northern-territory.jpg" id = "outback" >
                        <br>
                    </a>
                </div>
                <div class = "locations">
                    <a href = "">
                        <h2 class = "CountryName">Traveling the Eastern 
                        <br>
                        Coast and Tasmania</h2>
                        <img src = "https://media.australianmuseum.net.au/media/dd/images/Some_image.width-800.a6a7958.jpg" id = "eastern coast">
                    </a>    
                </div>
                <div class = "contactinfo">
                    <center>
                        <h3>Have any Questions? Contact us with this information below:</h3>
                        <h3>Call us at: 123-456-7890 </h3>
                        <h3>Email us at: not_a_hacker@sketchplorations.net </h3>
                    </center>
                </div>
            </div>
        </body>
    </html>