<!DOCTYPE html>
    <html>
        <head>
            <title>Trips to China</title>
            <link rel="stylesheet" href="static/USA.css" type="text/css" />
        </head>
        <body>
            <div class = "Header">
                    <h1>Trips to China</h1>
            </div>
            <div class = "grid-container">
                <div class = "locations">
                    <a href = "">
                        <h2 class = "CountryName">Wandering Shanghai</h2>
                        <img src = "https://www.mckinsey.com/knowledge-network/~/media/McKinsey/Locations/Knowledge%20Network/Shanghai/knowledge-network_shanghai_thumb_GettyImages-614703754_1536x1536.ashx" id = "shaghai" >
                        <br>
                    </a>
                </div>
                <div class = "locations">
                    <a href = "">
                        <h2 class = "CountryName">Exploring Beijing</h2>
                        <img src = "https://www.visa.com.my/dam/VCOM/regional/ap/Marquees/marquee-destinations-beijing-640x640.jpg" id = "beijing" >
                        <br>
                    </a>
                </div>
                <div class = "locations">
                    <a href = "">
                        <h2 class = "CountryName">Visiting Chengdu</h2>
                        <img src = "https://media2.trover.com/T/5241229426c48d3030000087/fixedw_large_4x.jpg" id = "chengdu">
                    </a>    
                </div>
                <div class = "contactinfo">
                    <center>
                        <h3>Have any Questions? Contact us with this information below:</h3>
                        <h3>Call us at: 123-456-7890 </h3>
                        <h3>Email us at: not_a_hacker@sketchplorations.net </h3>
                    </center>
                </div>
            </div>
        </body>
    </html>