<!DOCTYPE html>s
    <html>
        <head>
            <title>Trips to France</title>
            <link rel="stylesheet" href="static/USA.css" type="text/css" />
        </head>
        <body class="">

                <div class = "Header">
                <h1>Trips to France</h1>
                </div>
                <div class = "grid-container">
                <div class = "locations">
                    <a href = "">
                        <h2 class = "CountryName">Exploring the Streets of Paris</h2>
                        <img src = "https://i.pinimg.com/originals/1f/e8/7d/1fe87d8db2212cbb6e0a00d21af97885.jpg" id = "paris" >
                        <br>
                    </a>
                </div>
                <div class = "locations">
                    <a href = "">
                        <h2 class = "CountryName">Wandering the Alps</h2>
                        <img src = "https://pbs.twimg.com/media/DdzCsHuU0AAA2ia.jpg" id = "alps" >
                        <br>
                    </a>
                </div>
                <div class = "locations">
                    <a href = "">
                        <h2 class = "CountryName">Discover Southern France</h2>
                        <img src = "https://i.pinimg.com/originals/09/a7/21/09a721ec3ba3e65de5eacb97078c0fba.jpg" class = "sfrance">
                    </a>    
                </div>
                <div class = "contactinfo">
                    <center>
                        <h3>Have any Questions? Contact us with this information below:</h3>
                        <h3>Call us at: 123-456-7890 </h3>
                        <h3>Email us at: not_a_hacker@sketchplorations.net </h3>
                    </center>
                </div>
            </div>
        </body>
    </html>