<!DOCTYPE html>
    <html>
        <head>
            <title>Trips to Italy</title>
            <link rel="stylesheet" href="static/USA.css" type="text/css" />
        </head>
        <body>
            <div class = "Header">
            <h1>Trips to Italy</h1>
            </div>
            <div class = "grid-container">
                <div class = "locations">
                    <a href = "">
                        <h2 class = "CountryName">Expedition to 
                        <br>
                        Northern Italy</h2>
                        <img src = "https://www.traveldepartment.ie/globalassets/gallery/europe/italy/classic-tuscany/thumbs/tuscany-countryside_thumb.jpg?width=960" id = "tuscany" >
                        <br>
                    </a>
                    <div class = "summary">
                        <h2>Activities</h2>
                        <p>
                            Activity 1: Venice
                            <br>
                            Activity 2: Florence
                            <br>
                            Activity 3: Verona
                            <br>
                            Activity 4: Siena
                            <br>
                            Activity 5: Tuscany's vineyards
                            <br>
                            Activity 6: Lake Garda
                            <br>
                            Activity 7: Hiking in the Alps
                        </p>
                    </div>
                </div>
                <div class = "locations">
                    <a href = "">
                        <h2 class = "CountryName">Exploring Rome</h2>
                        <img src = "https://media.brides.com/photos/5a8c78a115bb640b27c3991f/1:1/w_767/GettyImages-151317787.jpg" id = "rome" >
                        <br>
                    </a>
                    <div class = "summary">
                        <p></p>
                    </div>
                </div>
                <div class = "locations">
                    <a href = "">
                        <h2 class = "CountryName">Adventure in Sicily</h2>
                        <img src = "https://www.trafalgar.com/~/media/images/website-refresh/hero-square/southernitalyandsciliy-hero-483076424.jpg?h=400&w=400&la=en" id = "sicily">
                    </a>    
                    <div class = "summary">
                        <p></p>
                    </div>
                </div>
                <div class = "contactinfo">
                    <center>
                        <h3>Have any Questions? Contact us with this information below:</h3>
                        <h3>Call us at: 123-456-7890 </h3>
                        <h3>Email us at: not_a_hacker@sketchplorations.net </h3>
                    </center>
                </div>
                
            </div>
        </body>
    </html>