<!DOCTYPE html>
    <html>
        <head>
            <title>Trips to America</title>
            <link rel="stylesheet" href="static/USA.css" type="text/css" />
        </head>
        <body>
            
            <div class = "Header">
                <h1>Trips to America</h1>
            </div>
            <div class="locations">
                <div class = "place">
                    <h2 class="CountryName">Exploring New York City</h2>
                    <img src="https://www.relatedrentals.com/sites/default/files/styles/hero_small/public/2019-05/NewYorkThumbnail.jpg?itok=5WgZJvPf" id = "nyc" >
                </div>
                
                    <div class = "summary">
                        <p>New York City is the largest populated city in the US, and there are lots of museums and places to visit such as the Natural History and Metropolitan museums. Some of the most popular landmarks are the statue of liberty, the empire state building, and the freedom tower.</p>
                    </div>
            </div>
            <div class = "locations">
                <div class = "place">
                        <h2 class = "CountryName">Adventure in Los Angeles</h2>
                        <img src = "https://www.clydeco.com/images/made/uploads/Images/***Image-Library***/Places/USA/losangeles_shutterstock_654461677_CMYK_WEB_800_800_90_s_c1_c_c.jpg" id = "la" >
                </div>
                    </a>
                    <div class = "summary">
                        <p>There are many things to do in the bustling city of Los Angeles. Climb the iconic Hollywood Hills 
                            and take pictures in front of the iconic Hollywood sign. Visit the famous Santa Monica pier and 
                            enjoy the sunshine while watching the trapeze artists train as the sun sets.
                            In the following days, I would visit Universal Studios and explore all that the Cinematic capital of the world
                            has to offer. Make sure to take a cruise down Rodeo drive and visit the celebrity stars on the Hollywood Walk of Fame as well.
                            If time permits, take a hike to the Malibu waterfalls and visit the Giraffe in the local Malibu zoo. Wrapping up the trip
                            means visiting the historic Watts towers - a national landmark - and making the trip downtown to the Staples center where 
                            LeBron James, Anthony Davis, and the Lakers play basketball.</p>
                    </div>
            </div>
            <div class = 'locations'>
                    <div class = "place">
                        <h2 class = "CountryName">Discovering Utah</h2>
                        <img src = "https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,g_auto,h_577,q_60,w_577/v1/clients/saltlake/SkiCity_ResortsMarch2017_HiRez_AustenDiamondPhotography_70_dd0a0fca-365f-4e2d-8a77-9e8a124f5bef.jpg" id = "utah"
                    </a> 
                    </div>
                       
                    <div class = "summary">
                        <p>Utah is a fascinating state to visit in the US. It contains many great mountains piled with soft snow to ski on. It also is home to a lot of wildlife and the national parks, Zion, Bryce, Arches, and Canyonlands.</p>
                    </div>
                </div>
            <form action="/results" method="POST" class="grid-container">
                
                <div class="locations">
                  <label>
                    <input name="location" type="radio" />
                    <h2 class="CountryName">Exploring New York City</h2>
                    <img src="https://www.relatedrentals.com/sites/default/files/styles/hero_small/public/2019-05/NewYorkThumbnail.jpg?itok=5WgZJvPf" id = "nyc" >
                  </label>
                </div>
                <div class="locations">
                  <label>
                    <input name="location" type="radio" />
                    <h2 class="CountryName">Exploring New York City</h2>
                    <img src="https://www.relatedrentals.com/sites/default/files/styles/hero_small/public/2019-05/NewYorkThumbnail.jpg?itok=5WgZJvPf" id = "nyc" >
                  </label>
                </div>
                <div class="locations">
                  <label>
                    <input name="location" type="radio" />
                    <h2 class="CountryName">Exploring New York City</h2>
                    <img src="https://www.relatedrentals.com/sites/default/files/styles/hero_small/public/2019-05/NewYorkThumbnail.jpg?itok=5WgZJvPf" id = "nyc" >
                  </label>
                </div>                
                
                <div class = "locations">
                    <a href = "">
                        <h2 class = "CountryName">Exploring New York City</h2>
                        <img src = "https://www.relatedrentals.com/sites/default/files/styles/hero_small/public/2019-05/NewYorkThumbnail.jpg?itok=5WgZJvPf" id = "nyc" >
                        <br>
                    </a>
                    <div class = "summary">
                        <p></p>
                    </div>
                </div>
                <div class = "locations">
                    <a href = "">
                        <h2 class = "CountryName">Adventure in Los Angeles</h2>
                        <img src = "https://www.clydeco.com/images/made/uploads/Images/***Image-Library***/Places/USA/losangeles_shutterstock_654461677_CMYK_WEB_800_800_90_s_c1_c_c.jpg" id = "la" >
                        <br>
                    </a>
                    <div class = "summary">
                        <p>
                            
                        </p>
                    </div>
                </div>
                <div class = 'locations'>
                    <a href = "">
                        <h2 class = "CountryName">Discovering Utah</h2>
                        <img src = "https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,g_auto,h_577,q_60,w_577/v1/clients/saltlake/SkiCity_ResortsMarch2017_HiRez_AustenDiamondPhotography_70_dd0a0fca-365f-4e2d-8a77-9e8a124f5bef.jpg" id = "utah">
                    </a>    
                    <div class = "summary">
                        <p></p>
                    </div>
                </div>
                <div class = "contactinfo">
                    <center>
                        <h3>Have any Questions? Contact us with this information below:</h3>
                        <h3>Call us at: 123-456-7890 </h3>
                        <h3>Email us at: not_a_hacker@sketchplorations.net </h3>
                    </center>
                </div>
            </form>
        </body>
    </html>